# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

observatorium
observatorium-api
tmp/
examples/vendor
vendor
.envrc
.bin
.idea
.vscode
e2e_*

.buildxcache/
