version: 2
jobs:
  build:
    docker:
      - image: golang:1.13
    steps:
      - checkout
      - run: |
          make observatorium
          git diff --exit-code

  lint:
    docker:
      - image: golang:1.13
    steps:
      - checkout
      - run: |
          make lint --always-make

  test:
    docker:
      - image: golang:1.13
    steps:
      - checkout
      - run: |
          make test --always-make

  generate:
    docker:
      - image: golang:1.13
    steps:
      - checkout
      - run: |
          make README.md
          git diff --exit-code

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - lint
      - test
