version: 2
jobs:
  build:
    docker:
      - image: golang:1.22
    steps:
      - checkout
      - run: |
          make build
          git diff --exit-code

  lint:
    docker:
      - image: golang:1.22
    steps:
      - checkout
      - run: |
          apt-get update && apt-get install xz-utils
          make lint --always-make

  test:
    machine:
      image: default
    steps:
      - checkout
      - run: |
          apt-get update && apt-get -y install xz-utils unzip openssl
          sudo rm -rf /usr/local/go
          wget -qO- https://golang.org/dl/go1.21.7.linux-amd64.tar.gz | sudo tar -C /usr/local -xzf -
          export PATH=$PATH:/usr/local/go/bin
          go version
          make test --always-make

  test-e2e:
    machine:
      image: default
    steps:
      - checkout
      - run: |
          sudo rm -rf /usr/local/go
          wget -qO- https://golang.org/dl/go1.21.7.linux-amd64.tar.gz | sudo tar -C /usr/local -xzf -
          export PATH=$PATH:/usr/local/go/bin
          go version
          make test-e2e

  generate:
    docker:
      - image: golang:1.22
    steps:
      - checkout
      - run: |
          make generate validate --always-make
          apt-get update && apt-get -y install unzip
          make proto
          git diff --exit-code

workflows:
  version: 2
  test-and-push:
    jobs:
      - build
      - lint
      - test
      - test-e2e
      - generate
