<html>
  <h1>Log in to Your Account</h1>
  <form method="post" action="{{ .PostURL }}">
    <label for="userid">{{ .UsernamePrompt }}</label>
    <input tabindex="1" required id="login" name="login" type="text"placeholder="{{ .UsernamePrompt | lower }}" {{ if .Username }} value="{{ .Username }}" {{ else }} autofocus {{ end }}/>
    <label for="password">Password</label>
    <input tabindex="2" required id="password" name="password" type="password" placeholder="password" {{ if .Invalid }} autofocus {{ end }}/>
    {{ if .Invalid }}
      <div id="login-error">
        Invalid {{ .UsernamePrompt }} and password.
      </div>
    {{ end }}
    <button tabindex="3" id="submit-login" type="submit">Login</button>
  </form>
</html>
